RMDJAXBModel/src/main/resources/admin.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://omd/omdservices/adminservice"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://omd/omdservices/adminservice"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<complexType name="systemParamResponseType">
		<sequence>
			<element name="title" type="xs:string" />
			<element name="value" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<!--added by Gaurav on 02/08/2011 starts -->
	<complexType name="templateDetailsResponseType">
		<sequence>
			<element name="templateSummaryResponse" type="tns:templateSummaryResponseType"
				minOccurs="1" />
			<element name="templateParamResponse" type="tns:templateParamResponseType"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="templateDetailsRequestType">
		<sequence>
			<element name="templateSummaryRequest" type="tns:templateSummaryRequestType"
				minOccurs="1" />
			<element name="templateParamRequest" type="tns:templateParamRequestType"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="templateParamResponseType">
		<sequence>
			<element name="parameterId" type="xs:string" minOccurs="1" />
			<element name="parameterName" type="xs:string" minOccurs="1" />
			<element name="parameterValue" type="xs:string" minOccurs="1" />
			<element name="parameterDesc" type="xs:string" minOccurs="1" />
			<element name="lowerBound" type="xs:string" minOccurs="1" />
			<element name="upperBound" type="xs:string" minOccurs="1" />
			<element name="length" type="xs:string" minOccurs="1" />
			<element name="dataFormat" type="xs:string" minOccurs="1" />
			<element name="toolTip" type="xs:string" minOccurs="1" />
			<element name="sortOrder" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="templateParamRequestType">
		<sequence>
			<element name="parameterId" type="xs:string" minOccurs="1" />
			<element name="parameterName" type="xs:string" minOccurs="1" />
			<element name="parameterValue" type="xs:string" minOccurs="1" />
			<element name="parameterDesc" type="xs:string" minOccurs="1" />
			<element name="lowerBound" type="xs:string" minOccurs="1" />
			<element name="upperBound" type="xs:string" minOccurs="1" />
			<element name="length" type="xs:string" minOccurs="1" />
			<element name="dataFormat" type="xs:string" minOccurs="1" />
			<element name="toolTip" type="xs:string" minOccurs="1" />
			<element name="sortOrder" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="masterTemplateResponseType">
		<sequence>
			<element name="masterParamID" type="xs:long" minOccurs="1" />
			<element name="masterParamName" type="xs:string" minOccurs="1" />
			<element name="linkColname" type="xs:long" minOccurs="1" />
			<element name="paramDesc" type="xs:string" minOccurs="1" />
			<element name="defaultValue" type="xs:long" minOccurs="1" />
			<element name="lowerBound" type="xs:double" minOccurs="1" />
			<element name="upperBound" type="xs:double" minOccurs="1" />
			<element name="length" type="xs:long" minOccurs="1" />
			<element name="toolTip" type="xs:string" minOccurs="1" />
			<element name="dataFormat" type="xs:string" minOccurs="1" />
			<element name="headerHtml" type="xs:string" minOccurs="1" />
			<element name="headerWidth" type="xs:short" minOccurs="1" />
			<element name="sortOrder" type="xs:double" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="language" type="xs:string" minOccurs="1" />
			<element name="userName" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="masterTemplateRequestType">
		<sequence>
			<element name="masterParamID" type="xs:long" minOccurs="1" />
			<element name="masterParamName" type="xs:string" minOccurs="1" />
			<element name="linkColname" type="xs:long" minOccurs="1" />
			<element name="paramDesc" type="xs:string" minOccurs="1" />
			<element name="defaultValue" type="xs:long" minOccurs="1" />
			<element name="lowerBound" type="xs:double" minOccurs="1" />
			<element name="upperBound" type="xs:double" minOccurs="1" />
			<element name="length" type="xs:long" minOccurs="1" />
			<element name="toolTip" type="xs:string" minOccurs="1" />
			<element name="dataFormat" type="xs:string" minOccurs="1" />
			<element name="headerHtml" type="xs:string" minOccurs="1" />
			<element name="headerWidth" type="xs:short" minOccurs="1" />
			<element name="sortOrder" type="xs:double" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="language" type="xs:string" minOccurs="1" />
			<element name="userName" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="templateSummaryRequestType">
		<sequence>
			<element name="templateID" type="xs:long" minOccurs="1" />
			<element name="templateName" type="xs:string" minOccurs="1" />
			<element name="templateDesc" type="xs:string" minOccurs="1" />
			<element name="view" type="xs:string" minOccurs="1" />
			<element name="service" type="xs:string" minOccurs="1" />
			<element name="customer" type="xs:string" minOccurs="1" />
			<element name="fleet" type="xs:string" minOccurs="1" />
			<element name="model" type="xs:string" minOccurs="1" />
			<element name="level" type="xs:int" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="templateSummaryResponseType">
		<sequence>
			<element name="templateID" type="xs:long" minOccurs="1" />
			<element name="templateName" type="xs:string" minOccurs="1" />
			<element name="templateDesc" type="xs:string" minOccurs="1" />
			<element name="view" type="xs:string" minOccurs="1" />
			<element name="service" type="xs:string" minOccurs="1" />
			<element name="customer" type="xs:string" minOccurs="1" />
			<element name="fleet" type="xs:string" minOccurs="1" />
			<element name="model" type="xs:string" minOccurs="1" />
			<element name="level" type="xs:int" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="viewResponseType">
		<sequence>
			<element name="viewID" type="xs:long" minOccurs="1" />
			<element name="viewName" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<!-- added by amuthan -->


	<complexType name="contactResponseType">
		<sequence>
			<element name="personalDetail" type="tns:personalDetailType" />
			<element name="contactId" type="xs:long" minOccurs="1" />
			<element name="siteName" type="xs:string" minOccurs="1" />
			<element name="city" type="xs:string" minOccurs="1" />
			<element name="country" type="xs:string" minOccurs="1" />
			<element name="contactRole" type="xs:string" minOccurs="1" />
			<element name="fax" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="contactRequestType">
		<sequence>
			<element name="contactSeqID" type="xs:long" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="firstName" type="xs:string" minOccurs="1" />
			<element name="lastName" type="xs:string" minOccurs="1" />
			<element name="phone" type="xs:string" minOccurs="1" />
			<element name="email" type="xs:string" minOccurs="1" />
			<element name="jobTitle" type="xs:string" minOccurs="1" />
			<element name="timeZone" type="xs:string" minOccurs="1" />
			<element name="dialComm" type="xs:string" minOccurs="1" />
			<element name="cellPhone" type="xs:string" minOccurs="1" />
			<element name="homePhone" type="xs:string" minOccurs="1" />
			<element name="locationID" type="xs:string" minOccurs="1" />
			<element name="editCreateContact" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<!--added by Gaurav on 02/08/2011 ends -->

	<complexType name="applicationParametersResponseType">
		<sequence>
			<element name="applicationParametersRequest" type="tns:applicationParametersRequestType" />
			<element name="sysLookupSeqId" type="xs:long" minOccurs="1" />
			<element name="listName" type="xs:string" minOccurs="1" />
			<element name="listDescription" type="xs:string" minOccurs="1" />
			<element name="lookupValue" type="xs:string" minOccurs="1" />
			<element name="lookupState" type="xs:string" minOccurs="1" />
			<element name="displayName" type="xs:string" minOccurs="1" />
			<element name="isActive" type="xs:boolean" minOccurs="1" />
			<element name="sortOrder" type="xs:string" minOccurs="1" />
			<element name="isEditable" type="xs:string" minOccurs="1"
				default="Y" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="applicationParametersRequestType">
		<sequence>
			<element name="listName" type="xs:string" minOccurs="1" />
			<element name="listDescription" type="xs:string" minOccurs="1" />
			<element name="sysLookupSeqId" type="xs:long" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="userRequestType">
		<sequence>
			<element name="userDetail" type="tns:userDetailType" />
			<element name="personalDetail" type="tns:personalDetailType" />
			<element name="timeZone" type="xs:string" minOccurs="0" />
			<element name="role" type="xs:string" minOccurs="0" />
			<element name="defaultRole" type="xs:string" minOccurs="0" />
			<element name="rolesDetail" type="tns:RolesType" maxOccurs="unbounded" />
			<element name="rolesChangeFlag" type="xs:string" minOccurs="0" />
			<element name="passwordChangeDate" type="xs:dateTime"
				minOccurs="0" />
			<element name="lastLoginDate" type="xs:dateTime" minOccurs="0" />
			<element name="language" type="xs:string" minOccurs="0" />
			<element name="customerId" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="usersResponseType">
		<sequence>
			<element name="userDetail" type="tns:userDetailType" />
			<element name="personalDetail" type="tns:personalDetailType" />
			<element name="timeZone" type="xs:string" minOccurs="1" />
			<element name="roles" type="tns:roleType" minOccurs="0" />
			<element name="defaultRole" type="xs:string" minOccurs="0" />
			<element name="rolesDetail" type="tns:RolesType" maxOccurs="unbounded" />
			<element name="language" type="xs:string" minOccurs="1" />
			<element name="customerId" type="xs:string" minOccurs="0" />
			<element name="passwordChangeDate" type="xs:dateTime"
				minOccurs="0" />
			<element name="lastLoginDate" type="xs:dateTime" minOccurs="1" />
		</sequence>
	</complexType>


	<complexType name="roleType">
		<sequence>
			<element name="role" type="xs:string" minOccurs="0"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="userDetailType">
		<sequence>
			<element name="userName" type="xs:string" minOccurs="1" />
			<element name="userSeqId" type="xs:long" minOccurs="1" />
			<element name="userId" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="0" />
			<element name="homePage" type="xs:string" minOccurs="0" />
			<element name="password" type="xs:string" minOccurs="0" />
			<element name="customerId" type="xs:string" minOccurs="0" />
			<element name="customerName" type="xs:string" minOccurs="0" />
			<element name="listCustomerIds" type="xs:string" maxOccurs="unbounded" />
			<element name="strLanguage" type="xs:string" minOccurs="0" />
			<element name="newUserIdEntered" type="xs:string" minOccurs="0" />
			<element name="userType" type="xs:string" minOccurs="0" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="0" />
			<element name="lastUpdatedTime" type="xs:string" minOccurs="0" />
			<element name="mobileAccess" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>

	<!-- Added For Purge Starts -->
	<complexType name="purgeResponseType">
		<sequence>
			<element name="purgeHisSeqId" type="xs:long" minOccurs="1" />
			<element name="objectsDeleted" type="xs:long" minOccurs="1" />
			<element name="purgeHistoryDetail" type="tns:purgeHistoryDetailType" />
			<element name="startDate" type="xs:dateTime" minOccurs="1" />
			<element name="endDate" type="xs:dateTime" minOccurs="1" />
			<element name="purgeName" type="xs:string" minOccurs="1" />
			<element name="exceptionDescription" type="xs:string"
				minOccurs="0" />

		</sequence>
	</complexType>
	<complexType name="purgeHistoryDetailType">
		<sequence>
			<element name="purgeSeqId" type="xs:long" minOccurs="1" />
			<element name="sequence" type="xs:long" />
			<element name="daysToKeep" type="xs:long" minOccurs="1" />
			<element name="minRecordsToKeep" type="xs:long" minOccurs="1" />
			<element name="version" type="xs:int" minOccurs="1" />
			<element name="purgeName" type="xs:string" minOccurs="1" />
			<element name="purgeObject" type="xs:string" minOccurs="1" />
			<element name="groupType" type="xs:string" minOccurs="1" />
			<element name="groupName" type="xs:string" minOccurs="1" />
			<element name="activeFlag" type="xs:string" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="purgeDescription" type="xs:string" minOccurs="1" />

		</sequence>
	</complexType>



	<!-- Added for Purge Ends -->
	<complexType name="personalDetailType">
		<sequence>
			<element name="userContactSeqId" type="xs:long" minOccurs="1" />
			<element name="firstName" type="xs:string" minOccurs="1" />
			<element name="lastName" type="xs:string" minOccurs="1" />
			<element name="middleName" type="xs:string" minOccurs="0" />
			<element name="cellPhone" type="xs:string" minOccurs="0" />
			<element name="homePhone" type="xs:string" minOccurs="0" />
			<element name="email" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="proximityResponseType">
		<sequence>
			<element name="proximitySeqID" type="xs:string" minOccurs="1" />
			<element name="proximityDesc" type="xs:string" minOccurs="1" />
			<element name="proximityLabel" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="nwLatitude" type="xs:string" minOccurs="1" />
			<element name="nwLongitude" type="xs:string" minOccurs="1" />
			<element name="seLatitude" type="xs:string" minOccurs="1" />
			<element name="seLongitude" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="systemTimeZoneResponseType">
		<sequence>
			<element name="timeZoneId" type="xs:string" minOccurs="1" />
			<element name="gmtDiff" type="xs:long" minOccurs="1" />
			<element name="name" type="xs:string" minOccurs="1" />
			<element name="fullName" type="xs:string" minOccurs="1" />
			<element name="displayName" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="locationResponseType">
		<sequence>
			<element name="locationId" type="xs:string" minOccurs="1" />
			<element name="locationType" type="xs:string" minOccurs="1" />
			<element name="locationName" type="xs:string" minOccurs="1" />
			<element name="addressDetail" type="tns:addressDetailType" />
			<element name="includeInactive" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="locationRequestType">
		<sequence>
			<element name="locationId" type="xs:string" minOccurs="1" />
			<element name="locationType" type="xs:string" minOccurs="1" />
			<element name="locationName" type="xs:string" minOccurs="1" />
			<element name="city" type="xs:string" minOccurs="1" />
			<element name="state" type="xs:string" minOccurs="1" />
			<element name="country" type="xs:string" minOccurs="1" />
			<element name="zipCode" type="xs:string" minOccurs="1" />
			<element name="timeZone" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="phone" type="xs:string" minOccurs="1" />
			<element name="siteAddress1" type="xs:string" minOccurs="1" />
			<element name="siteAddress2" type="xs:string" minOccurs="1" />
			<element name="editCreateLocation" type="xs:string"
				minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="addressDetailType">
		<sequence>
			<element name="siteAddress1" type="xs:string" minOccurs="1" />
			<element name="siteAddress2" type="xs:string" minOccurs="1" />
			<element name="siteAddress" type="xs:string" minOccurs="1" />
			<element name="phone" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="city" type="xs:string" minOccurs="1" />
			<element name="state" type="xs:string" minOccurs="1" />
			<element name="country" type="xs:string" minOccurs="1" />
			<element name="zipcode" type="xs:string" minOccurs="1" />
			<element name="timeZone" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="proximityRequestType">
		<sequence>
			<element name="proximitySeqID" type="xs:string" minOccurs="1" />
			<element name="proximityType" type="xs:string" minOccurs="1" />
			<element name="proximityDesc" type="xs:string" minOccurs="1" />
			<element name="proximityLabel" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="nwLatitude" type="xs:string" minOccurs="1" />
			<element name="nwLongitude" type="xs:string" minOccurs="1" />
			<element name="seLatitude" type="xs:string" minOccurs="1" />
			<element name="seLongitude" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="preferencesRequestType">
		<sequence>
			<element name="customerChangeFlag" type="xs:string"
				minOccurs="0" />
			<element name="customerId" type="xs:string" minOccurs="0" />
			<element name="userSeqId" type="xs:long" minOccurs="0" />
			<element name="preferencesType" type="tns:preferencesType"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="elementResponseType">
		<sequence>
			<element name="id" type="xs:string" minOccurs="1" />
			<element name="name" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="RolesType">
		<sequence>
			<element name="userRolesSeqId" type="xs:long" minOccurs="1" />
			<element name="roleName" type="xs:string" minOccurs="1" />
			<element name="roleDesc" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="SaveFavFilterType">
		<sequence>
			<element name="filterId" type="xs:string" minOccurs="0" />
			<element name="linkUsrRoleSeqId" type="xs:string" minOccurs="0" />
			<element name="screenName" type="xs:string" minOccurs="1" />
			<element name="columnInfo" type="tns:columnInfoType"
				minOccurs="0" />
			<element name="dataInfo" type="tns:dataInfoType" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="columnInfoType">
		<sequence>
			<element name="columnName" type="xs:string" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="columnType" type="xs:string" minOccurs="1"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="dataInfoType">
		<sequence>
			<element name="dataValue" type="xs:string" minOccurs="1"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="preferencesType">
		<sequence>
			<element name="UserPreferenceSeqId" type="xs:long" minOccurs="0" />
			<element name="userId" type="xs:long" minOccurs="0" />
			<element name="userPreferernceType" type="xs:string"
				minOccurs="0" />
			<element name="userPreferenceValue" type="xs:string"
				minOccurs="0" />
			<element name="customerId" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="filterDetailType">
		<sequence>
			<element name="createdBy" type="xs:string" minOccurs="0" />
			<element name="createdDate" type="xs:dateTime" minOccurs="0" />
			<element name="fromFilterValue" type="xs:anyType" minOccurs="0" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="0" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="0" />
			<element name="toFilterValue" type="xs:anyType" minOccurs="0" />
			<element name="usrFilterDetailId" type="xs:long" minOccurs="0" />
			<element name="usrFilterId" type="xs:long" minOccurs="0" />
			<element name="columnName" type="xs:string" minOccurs="0" />
			<element name="columnType" type="xs:string" minOccurs="0" />
			<element name="resourceName" type="xs:string" minOccurs="0" />
			<element name="resourceId" type="xs:long" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="favFilterDetailType">
		<sequence>
			<element name="filterId" type="xs:long" minOccurs="0" />
			<element name="filterName" type="xs:string" minOccurs="0" />
			<element name="filterDetails" type="tns:filterDetailType"
				minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="fetchFavFilterResponseType">
		<sequence>
			<element name="usrRoleSeqId" type="xs:long" minOccurs="0" />
			<element name="filterDetail" type="tns:favFilterDetailType"
				minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<element name="elementResponseType" type="tns:elementResponseType" />
	<!--added by Gaurav on 02/08/2011 starts -->
	<element name="applicationParametersRequest" type="tns:applicationParametersRequestType" />
	<element name="applicationParametersResponse" type="tns:applicationParametersResponseType" />
	<element name="proximityResponse" type="tns:proximityResponseType" />
	<element name="usersResponse" type="tns:usersResponseType" />
	<element name="systemTimeZoneResponse" type="tns:systemTimeZoneResponseType" />
	<element name="locationResponse" type="tns:locationResponseType" />
	<element name="templateDetailsResponse" type="tns:templateDetailsResponseType" />
	<element name="templateParamResponse" type="tns:templateParamResponseType" />
	<element name="masterTemplateResponse" type="tns:masterTemplateResponseType" />
	<element name="templateDetailsRequest" type="tns:templateDetailsRequestType" />
	<element name="templateParamRequest" type="tns:templateParamRequestType" />
	<element name="masterTemplateRequest" type="tns:masterTemplateRequestType" />
	<element name="templateSummaryRequest" type="tns:templateSummaryRequestType" />
	<element name="viewResponse" type="tns:viewResponseType" />
	<element name="ContactResponse" type="tns:contactResponseType" />
	<element name="purgeResponse" type="tns:purgeResponseType" />
	<element name="systemParameterResponse" type="tns:systemParamResponseType" />
	<!--added by Gaurav on 02/08/2011 ends -->
</schema>
