RMDJAXBModel/src/main/resources/cases.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://omd/omdservices/caseservice"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://omd/omdservices/caseservice"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!--added by Gaurav on 02/08/2011 starts -->
	<complexType name="caseRequestType">
		<sequence>
			<element name="caseID" type="xs:string" minOccurs="1" />
			<element name="caseTitle" type="xs:string" minOccurs="1" />
			<element name="caseType" type="xs:string" minOccurs="1" />
			<element name="queueName" type="xs:string" minOccurs="1" />
			<element name="userName" type="xs:string" minOccurs="1" />
			<element name="assetNumber" type="xs:string" minOccurs="0" />
			<element name="solutionTitle" type="xs:string" minOccurs="0" />
			<element name="urgency" type="xs:string" minOccurs="0" />
			<element name="estRepairTime" type="xs:dateTime" minOccurs="0" />
			<element name="language" type="xs:string" minOccurs="0" />
			<element name="userLanguage" type="xs:string" minOccurs="0" />
			<element name="version" type="xs:int" minOccurs="0" />
			<element name="firstName" type="xs:string" minOccurs="1" />
			<element name="lastName" type="xs:string" minOccurs="1" />
			<element name="currentOwnerName" type="xs:string" minOccurs="0" />
			<element name="queueName" type="xs:string" minOccurs="0" />
			<element name="assetGrpName" type="xs:string" minOccurs="0" />
			<element name="priority" type="xs:string" minOccurs="0" />
			<element name="userId" type="xs:string" minOccurs="0" />
			<element name="noOfDays" type="xs:string" minOccurs="0" />
			<element name="queueId" type="xs:long" minOccurs="0" />

		</sequence>
	</complexType>
	<complexType name="latestCaseRuleRequestType">
		<sequence>
			<element name="caseId" type="xs:string" minOccurs="1" />
			<element name="toolOutputDetailsResponse" type="tns:toolOutputDetailsResponseType"
				minOccurs="0" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="latestCaseRequestType">
		<sequence>
			<element name="caseId" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="caseSolutionRequestType">
		<sequence>
			<element name="caseID" type="xs:string" minOccurs="1" />
			<element name="solutionID" type="xs:string" minOccurs="1" />
			<element name="estmRepTime" type="xs:string" minOccurs="1" />
			<element name="urgRepair" type="xs:string" minOccurs="1" />
			<element name="recomNotes" type="xs:string" minOccurs="1" />
			<element name="solutionFilePath" type="xs:string" minOccurs="1" />
			<element name="language" type="xs:string" minOccurs="1" />
			<element name="userName" type="xs:string" minOccurs="1" />
			<element name="userLanguage" type="xs:string" minOccurs="1" />
			<element name="customerId" type="xs:string" minOccurs="0" />
			<element name="solutionTitle" type="xs:string" minOccurs="0" />
			<element name="rxCaseID" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>


	<complexType name="caseRxDetailsResponseType">
		<sequence>
			<element name="caseID" type="xs:string" minOccurs="1" />
			<element name="solutionInfo" type="tns:solutionInfoType"
				maxOccurs="unbounded" />

		</sequence>
	</complexType>
	<complexType name="rxDetailsType">
		<sequence>
			<element name="caseID" type="xs:string" minOccurs="1" />
			<element name="rxCaseID" type="xs:string" minOccurs="1" />
			<element name="rxScoreCode" type="xs:string" minOccurs="1" />
			<element name="rxFeedBack" type="xs:string" minOccurs="1" />
			<element name="userName" type="xs:string" minOccurs="1" />
			<element name="repaircodeList" type="xs:long" minOccurs="0"
				maxOccurs="unbounded" />
			<element name="eoaUserName" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="repairCodeDetailsType">
		<sequence>
			<element name="taskId" type="xs:string" minOccurs="0" />
			<element name="taskDesc" type="xs:string" minOccurs="0" />
			<element name="caseID" type="xs:string" minOccurs="0" />
			<element name="repairCodeId" type="xs:string" minOccurs="0" />
			<element name="repairCode" type="xs:string" minOccurs="0" />
			<element name="repaidCodeDesc" type="xs:string" minOccurs="0" />
			<element name="repaircodeList" type="xs:string" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="noOfCases" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="massApplyRXRequestType">
		<sequence>
			<element name="solutionID" type="xs:string" minOccurs="1" />
			<element name="userId" type="xs:string" minOccurs="1" />
			<element name="customerId" type="xs:string" minOccurs="1" />
			<element name="assetGrpName" type="xs:string" minOccurs="1" />
			<element name="assetNumber" type="xs:string" minOccurs="1" />
			<element name="caseTitle" type="xs:string" minOccurs="1" />
			<element name="caseType" type="xs:string" minOccurs="1" />
			<element name="queueName" type="xs:string" minOccurs="1" />
			<element name="priority" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="massApplyRxResponseType">
		<sequence>
			<element name="caseId" type="xs:string" minOccurs="1" />
			<element name="isCaseSucess" type="xs:boolean" minOccurs="1" />
			<element name="isRxDelivered" type="xs:boolean" minOccurs="1" />
			<element name="assetGroupName" type="xs:string" minOccurs="1" />
			<element name="assetNumber" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="caseResponseType">
		<sequence>
			<element name="caseInfo" type="tns:caseInfoType" />
			<element name="solutionInfo" type="tns:solutionInfoType"
				maxOccurs="unbounded" />
			<element name="append" type="xs:string" minOccurs="1" />
			<element name="creator" type="xs:string" minOccurs="1" />
			<element name="assetNumber" type="xs:string" minOccurs="0" />
			<element name="assetGrpName" type="xs:string" minOccurs="0" />
			<element name="caseStatus" type="xs:string" minOccurs="0" />
			<element name="priority" type="xs:string" minOccurs="0" />
			<element name="age" type="xs:string" minOccurs="0" />
			<element name="closedDate" type="xs:dateTime" minOccurs="0" />
			<element name="histDate" type="xs:dateTime" minOccurs="0" />
			<element name="urgency" type="xs:string" minOccurs="0" />
			<element name="caseId" type="xs:string" minOccurs="0" />
			<element name="modelName" type="xs:string" minOccurs="0" />
			<element name="FleetName" type="xs:string" minOccurs="0" />
			<element name="rowVersion" type="xs:int" minOccurs="0" />
			<element name="customerName" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="toolOutputDetailsResponseType">
		<sequence>
			<element name="solutionID" type="xs:string" minOccurs="1" />
			<element name="solutionTitle" type="xs:string" minOccurs="1" />
			<element name="solutionProb" type="xs:string" minOccurs="1" />
			<element name="solutionStatus" type="xs:string" minOccurs="1" />
			<element name="solutionDelv" type="xs:string" minOccurs="1" />
			<element name="solutionAccuracy" type="xs:string" minOccurs="1" />
			<element name="urgency" type="xs:string" minOccurs="1" />
			<element name="estRepairTime" type="xs:string" minOccurs="1" />
			<element name="urgRepairTime" type="xs:string" minOccurs="1" />
			<element name="estRepairTimeValue" type="xs:string"
				minOccurs="1" />
			<element name="solutionStatusValue" type="xs:string"
				minOccurs="1" />
			<element name="ruleDefId" type="xs:string" minOccurs="1" />
			<element name="ruleID" type="xs:string" minOccurs="1" />
			<element name="ruleTitle" type="xs:string" minOccurs="1" />
			<element name="lastRunDt" type="xs:dateTime" minOccurs="1" />
			<element name="solutionDelvDate" type="xs:dateTime"
				minOccurs="1" />
			<element name="falseAlarmPct" type="xs:float" minOccurs="0" />
			<element name="toolCovgPct" type="xs:float" minOccurs="0" />
			<element name="mdscPerfPct" type="xs:float" minOccurs="0" />
			<element name="falseAlarmColor" type="xs:string" minOccurs="1" />
			<element name="toolCovgColor" type="xs:string" minOccurs="1" />
			<element name="mdscPerfColor" type="xs:string" minOccurs="1" />
			<element name="falseAlarmInd" type="xs:string" minOccurs="1" />
			<element name="toolCovgInd" type="xs:string" minOccurs="1" />
			<element name="mdscPerfInd" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<!--added by Gaurav on 02/08/2011 starts -->
	<complexType name="caseInfoType">
		<sequence>
			<element name="caseID" type="xs:string" minOccurs="1" />
			<element name="caseTitle" type="xs:string" minOccurs="1" />
			<element name="queueName" type="xs:string" minOccurs="1" />
			<element name="condition" type="xs:string" minOccurs="1" />
			<element name="owner" type="xs:string" minOccurs="1" />
			<element name="reason" type="xs:string" minOccurs="1" />
			<element name="caseType" type="xs:string" minOccurs="1" />
			<element name="createdDate" type="xs:dateTime" minOccurs="1" />
			<element name="customerName" type="xs:string" minOccurs="1" />
			<element name="stkyCreatBy" type="xs:string" minOccurs="1" />
			<element name="stkyNotes" type="xs:string" minOccurs="1" />
			<element name="stickyExist" type="xs:string" minOccurs="1" />
			<element name="stickyType" type="xs:string" minOccurs="1" />
			<element name="fileCount" type="xs:string" minOccurs="0" />
			<element name="caseSolutionStatus" type="xs:string"
				minOccurs="0" />
			<element name="priority" type="xs:string" minOccurs="0" />
			<element name="age" type="xs:string" minOccurs="0" />
			<element name="closedDate" type="xs:dateTime" minOccurs="0" />
			<element name="histDate" type="xs:dateTime" minOccurs="0" />
			<element name="caseStatus" type="xs:string" minOccurs="0" />
			<element name="currentRxStatus" type="xs:string" minOccurs="0" />
			<element name="currentRxDelvId" type="xs:string" minOccurs="0" />
			<element name="rxCaseId" type="xs:string" minOccurs="0" />
			<element name="ownerName" type="xs:string" minOccurs="1" />
			<element name="currentRxId" type="xs:long" minOccurs="0" />
			<element name="currentRxNotes" type="xs:string" minOccurs="0" />
			<element name="caseCondition" type="xs:string" minOccurs="1" />
			<element name="append" type="xs:string" minOccurs="1" />
			<element name="caseObjid" type="xs:long" minOccurs="1" />
			<element name="roadNumber" type="xs:string" minOccurs="1" />
			<element name="model" type="xs:string" minOccurs="1" />
			<element name="caseNumber" type="xs:string" minOccurs="1" />
			<element name="casePriority" type="xs:string" minOccurs="1" />
			<element name="recPendingAlert" type="xs:string" minOccurs="1" />
			<element name="gpsHeading" type="xs:string" minOccurs="1" />
			<element name="onBoardRNH" type="xs:string" minOccurs="1" />
			<element name="fleet" type="xs:string" minOccurs="1" />
			<element name="pendingFaults" type="xs:string" minOccurs="1" />
			<element name="services" type="xs:string" minOccurs="1" />
			<element name="customerRNH" type="xs:string" minOccurs="1" />
			<element name="appendedDate" type="xs:string" minOccurs="1" />
			<element name="nextScheduledRun" type="xs:string" minOccurs="0" />
			<element name="badActor" type="xs:string" minOccurs="0" />
			<element name="strcaseObjId" type="xs:string" minOccurs="0" />
			<element name="gpsLatitude" type="xs:string" minOccurs="0" />
			<element name="gpslongitude" type="xs:string" minOccurs="0" />
			<element name="vehicleObjId" type="xs:string" minOccurs="1" />
			<element name="creationDate" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="caseHeaderResponseType">
		<sequence>
			<element name="caseID" type="xs:string" minOccurs="1" />
			<element name="customerName" type="xs:string" minOccurs="1" />
			<element name="customerId" type="xs:string" minOccurs="1" />
			<element name="roadNumber" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>


	<complexType name="solutionInfoType">
		<sequence>
			<element name="solutionCaseID" type="xs:string" minOccurs="1" />
			<element name="solutionStatus" type="xs:string" minOccurs="1" />
			<element name="solutionDelvDate" type="xs:dateTime"
				minOccurs="1" />
			<element name="solutionCloseDate" type="xs:dateTime"
				minOccurs="1" />
			<element name="solutionTitle" type="xs:string" minOccurs="1" />
			<element name="solutionOBJID" type="xs:string" minOccurs="1" />
			<element name="urgency" type="xs:string" minOccurs="1" />
			<element name="estmRepTime" type="xs:string" minOccurs="1" />
			<element name="locomotiveImpact" type="xs:string" minOccurs="0" />
			<element name="solutionNotes" type="xs:string" minOccurs="0" />
			<element name="solutionReIssueFlag" type="xs:string"
				minOccurs="0" />
			<element name="solutionVersion" type="xs:string" minOccurs="0" />
			<element name="solutionServiceReqId" type="xs:string"
				minOccurs="0" />
			<element name="currentRxId" type="xs:long" minOccurs="0" />
			<element name="repairAction" type="xs:string" minOccurs="0" />
			<element name="feedbackCode" type="xs:string" minOccurs="0" />
			<element name="feedback" type="xs:string" minOccurs="0" />
			<element name="reissueRxDelvDate" type="xs:dateTime"
				minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="locomotiveInfoType">
		<sequence>
			<element name="customer" type="xs:string" minOccurs="1" />
			<element name="model" type="xs:string" minOccurs="1" />
			<element name="assetNumber" type="xs:string" minOccurs="1" />
			<element name="currentLoc" type="xs:string" minOccurs="1" />
			<element name="fleet" type="xs:string" minOccurs="1" />
			<element name="assetGroup" type="xs:string" minOccurs="1" />
			<element name="lastKeepAlive" type="xs:dateTime" minOccurs="1" />
			<element name="lastFaultReceivedDate" type="xs:dateTime"
				minOccurs="1" />
			<element name="assetGroupSeqId" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="caseAttachmentType">
		<sequence>
			<element name="caseID" type="xs:string" minOccurs="1" />
			<element name="caseTitle" type="xs:string" minOccurs="1" />
			<element name="deleted" type="xs:long" minOccurs="1" />
			<element name="docPath" type="xs:string" minOccurs="1" />
			<element name="strDocSeqId" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="caseHistoryType">
		<sequence>
			<element name="activity" type="xs:string" minOccurs="1" />
			<element name="activityDate" type="xs:dateTime" minOccurs="1" />
			<element name="who" type="xs:string" minOccurs="1" />
			<element name="activityDesc" type="xs:string" minOccurs="1" />
			<element name="solutionFileName" type="xs:string" minOccurs="1" />
			<element name="solutionFilePath" type="xs:string" minOccurs="1" />
			<element name="solutionTitle" type="xs:string" minOccurs="1" />
			<element name="displayActivity" type="xs:string" minOccurs="1" />
			<element name="caseSeqId" type="xs:long" minOccurs="0" />
			<element name="descriptionURL" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>
	<!--added by Gaurav on 02/08/2011 ends -->
	<complexType name="caseDetailsResponseType">
		<sequence>
			<element name="caseInfo" type="tns:caseInfoType" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="locomotiveInfo" type="tns:locomotiveInfoType"
				minOccurs="1" maxOccurs="unbounded" />
			<element name="caseAttachment" type="tns:caseAttachmentType"
				minOccurs="1" maxOccurs="unbounded" />
			<element name="caseHistory" type="tns:caseHistoryType"
				minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="CaseTypeResponseType">
		<sequence>
			<element name="caseTypeSeqId" type="xs:string" minOccurs="0" />
			<element name="caseTypeTitle" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>
	<!--For Cases Request Type -->
	<!-- To identify whether user has case management privilege -->
	<complexType name="cmPrivilegeResponseType">
		<sequence>
			<element name="isCMPrivilege" type="xs:boolean" minOccurs="1" />
			<element name="cmAliasName" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>
	<!-- To identify whether user has case management privilege End -->

	<complexType name="casesRequestType">
		<sequence>
			<element name="noDays" type="xs:string" minOccurs="0" />
			<element name="language" type="xs:string" minOccurs="0" />
			<element name="assetHeader" type="xs:string" minOccurs="0" />
			<element name="queueName" type="xs:string" minOccurs="0" />
			<element name="assetNumber" type="xs:string" minOccurs="0" />
			<element name="caseID" type="xs:string" minOccurs="0" />
			<element name="caseTitle" type="xs:string" minOccurs="0" />
			<element name="caseStatus" type="xs:string" minOccurs="0" />
			<element name="userName" type="xs:string" minOccurs="0" />
			<element name="startDate" type="xs:string" minOccurs="0" />
			<element name="endDate" type="xs:string" minOccurs="0" />
			<element name="solutionStatus" type="xs:string" minOccurs="0" />
			<element name="solutionTitle" type="xs:string" minOccurs="0" />
			<element name="solFeedback" type="xs:string" minOccurs="0" />
			<element name="solutionId" type="xs:string" minOccurs="0" />
			<element name="ruleDefId" type="xs:string" minOccurs="0" />
			<element name="customerId" type="xs:string" minOccurs="0" />
			<element name="assetGrName" type="xs:string" minOccurs="0" />
			<element name="estRepTm" type="xs:string" minOccurs="0" />
			<element name="urgency" type="xs:string" minOccurs="0" />
			<element name="rxId" type="xs:string" minOccurs="0" />
			<element name="caseType" type="xs:string" minOccurs="0" />
			<element name="modelId" type="xs:string" minOccurs="0" />
			<element name="fleetId" type="xs:string" minOccurs="0" />
			<element name="dwq" type="xs:string" minOccurs="0" />
			<element name="userID" type="xs:string" minOccurs="0" />
			<element name="userLanguage" type="xs:string" minOccurs="0" />
			<element name="prodAssetMap" type="tns:prodAssetMapRequestType"
				maxOccurs="unbounded" />
			<element name="closedRxLookBackDays" type="xs:int" minOccurs="0" />
			<element name="searchTypeFlag" type="xs:string" minOccurs="0" />
			<element name="caseLike" type="xs:string" minOccurs="0" />
			<element name="isMyCases" type="xs:boolean" minOccurs="0" />
			<element name="caseObjId" type="xs:string" minOccurs="0" />
			<element name="revisionNo" type="xs:string" minOccurs="0" />
			<element name="rxObjId" type="xs:long" minOccurs="0" />

		</sequence>
	</complexType>
	<complexType name="prodAssetMapRequestType">
		<sequence>
			<element name="productName" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>
	<!--Added By vamshi for fetching QueueDetails -->
	<complexType name="queueDetailsResponseType">
		<sequence>
			<element name="queueId" type="xs:string" minOccurs="0" />
			<element name="queueName" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="stickyNotesDetailsResponseType">
		<sequence>
			<element name="applyLevel" type="xs:string" minOccurs="0" />
			<element name="additionalInfo" type="xs:string" minOccurs="0" />
			<element name="entryTime" type="xs:string" minOccurs="0" />
			<element name="createdBy" type="xs:string" minOccurs="0" />
			<element name="objId" type="xs:string" minOccurs="0" />
			<element name="unitStickyObjId" type="xs:string" minOccurs="0" />
			<element name="caseStickyObjId" type="xs:string" minOccurs="0" />
		</sequence>
	</complexType>
	<complexType name="caseActivityLogResponseType">
		<sequence>
			<element name="activity" type="xs:string" minOccurs="1" />
			<element name="createDate" type="xs:string" minOccurs="1" />
			<element name="user" type="xs:string" minOccurs="1" />
			<element name="addInfo" type="xs:string" minOccurs="1" />
			<element name="activityType" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="caseMgmtUsersResponseType">
		<sequence>
			<element name="userId" type="xs:string" minOccurs="1" />
			<element name="firstName" type="xs:string" minOccurs="1" />
			<element name="lastName" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="rxDetailsResponseType">
		<sequence>
			<element name="eServiceRxStatus" type="xs:string" minOccurs="1" />
			<element name="B2BRxStatus" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<!--For Cases Request Type -->
	<element name="caseInfoType" type="tns:caseInfoType" />
	<element name="locomotiveInfo" type="tns:locomotiveInfoType" />
	<element name="caseAttachment" type="tns:caseAttachmentType" />
	<element name="caseHistory" type="tns:caseHistoryType" />

	<element name="caseRequest" type="tns:caseRequestType" />
	<element name="caseResponse" type="tns:caseResponseType" />
	<element name="caseSolutionRequest" type="tns:caseSolutionRequestType" />
	<element name="toolOutputDetailsResponse" type="tns:toolOutputDetailsResponseType" />
	<element name="caseDetailsResponse" type="tns:caseDetailsResponseType" />
	<element name="solutionInfoType" type="tns:solutionInfoType" />
	<element name="latestCaseRequest" type="tns:latestCaseRequestType" />
	<element name="latestCaseRuleRequest" type="tns:latestCaseRuleRequestType" />
	<element name="cmPrivilegeResponseType" type="tns:cmPrivilegeResponseType" />
	<element name="caseRxDetailsResponseType" type="tns:caseRxDetailsResponseType" />
	<element name="queueDetailsResponseType" type="tns:queueDetailsResponseType" />
	<element name="stickyNotesDetailsResponseType" type="tns:stickyNotesDetailsResponseType" />
	<element name="caseActivityLogResponseType" type="tns:caseActivityLogResponseType" />
	<element name="caseMgmtUsersResponseType" type="tns:caseMgmtUsersResponseType" />
	<element name="rxDetailsResponseType" type="tns:rxDetailsResponseType" />

</schema>