RMDJAXBModel/src/main/resources/rule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://omd/omdservices/ruleservice"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://omd/omdservices/ruleservice"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<!-- xmlns:asset="http://omd/omdservices/assetservice" xmlns:solution="http://omd/omdservices/solutions"> -->
	<!-- <import namespace="http://omd/omdservices/assetservice" schemaLocation="assets.xsd" 
		/> <import namespace="http://omd/omdservices/solutions" schemaLocation="solutions.xsd" 
		/> -->
	<!-- <complexType name="finalRuleResponseType"> <sequence> <element name="finalRuleID" 
		type="xs:string" minOccurs="1" /> <element name="subsystem" type="xs:string" 
		minOccurs="1" /> <element name="ruleDescription" type="xs:string" minOccurs="1" 
		/> <element name="lookBack" type="xs:string" minOccurs="1" /> <element name="family" 
		type="xs:string" minOccurs="1" /> <element name="ruleTitle" type="xs:string" 
		minOccurs="0" /> <element name="toplevelruleid" type="xs:string" minOccurs="0" 
		/> <element name="ruleHistoryresponse" type="tns:rulehistoryresponsetype" 
		minOccurs="0" maxOccurs="unbounded"/> <element name="simpleruleresponse" 
		type="tns:simpleruleresponsetype" /> <element name="complexruleresponse" 
		type="tns:complexruleresponsetype" /> <element name="ruledefinitionresponse" 
		type="tns:ruledefinitionservicetype" /> </sequence> </complexType> <complexType 
		name="rulehistoryresponsetype"> <sequence> <element name="versionnumber" 
		type="xs:string" minOccurs="1" /> <element name="datecreated" type="xs:dateTime" 
		minOccurs="1" /> <element name="createdby" type="xs:string" minOccurs="1" 
		/> <element name="revisionhistory" type="xs:string" minOccurs="1" /> <element 
		name="strRuleID" type="xs:string" minOccurs="1" /> <element name="strOriginalID" 
		type="xs:string" minOccurs="1" /> <element name="active" type="xs:string" 
		minOccurs="1" /> </sequence> </complexType> -->


	<!-- added by gaurav on 02/08/2011 starts -->
	<complexType name="ruleTesterRequestType">
		<sequence>
			<element name="ruleID" type="xs:string" minOccurs="1" />
			<element name="noofdays" type="xs:string" minOccurs="1" />
			<element name="assetNumbers" type="xs:string" maxOccurs="unbounded" />
			<element name="userLanguage" type="xs:string" minOccurs="1" />
			<element name="language" type="xs:string" minOccurs="1" />
			<element name="userName" type="xs:string" minOccurs="1" />

		</sequence>
	</complexType>
	<!-- added by gaurav on 02/08/2011 starts -->


	<complexType name="manualRunResponseType">
		<sequence>
			<element name="trackingId" type="xs:string" minOccurs="1" />
			<element name="caseID" type="xs:string" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="creationDate" type="xs:dateTime" minOccurs="1" />
			<element name="finishedDate" type="xs:dateTime" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="mode" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="manualRunRequestType">
		<sequence>
			<element name="userLanguage" type="xs:string" minOccurs="1" />
			<element name="language" type="xs:string" minOccurs="1" />
			<element name="userName" type="xs:string" minOccurs="1" />
			<element name="assetNumber" type="xs:long" minOccurs="1" />
			<element name="mode" type="xs:string" minOccurs="1" />
			<element name="fromDate" type="xs:dateTime" minOccurs="1" />
			<element name="toDate" type="xs:dateTime" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="manualRunDisgnosticRequestType">
		<sequence>
			<element name="trackingID" type="xs:string" minOccurs="1" />
			<element name="ruleID" type="xs:string" minOccurs="1" />
			<element name="user" type="xs:string" minOccurs="1" />
			<element name="language" type="xs:string" minOccurs="1" />

		</sequence>
	</complexType>
	<!-- <complexType name="faultDataDetailsResponseType"> <sequence> <element 
		name="header" type="xs:string" minOccurs="1" maxOccurs="unbounded" /> <element 
		name="grpheader" type="xs:string" minOccurs="1" maxOccurs="unbounded" /> 
		<element name="faultDataResponse" type="tns:faultDataResponseType" maxOccurs="unbounded" 
		/> <element name="totalRecordsavailable" type="xs:int" minOccurs="1" /> <element 
		name="mode" type="xs:string" minOccurs="1" /> </sequence> </complexType> 
		<complexType name="faultDataResponseType"> <sequence> <element name="faultdata" 
		type="xs:string" minOccurs="1" maxOccurs="unbounded"/> </sequence> </complexType> -->

	<complexType name="tracerRequestType">
		<sequence>
			<element name="ruleID" type="xs:string" minOccurs="1" />
			<element name="language" type="xs:string" minOccurs="1" />
			<element name="traceID" type="xs:string" minOccurs="1" />
			<element name="testerID" type="xs:string" minOccurs="1" />
			<element name="caseID" type="xs:string" minOccurs="1" />
			<element name="manRUNID" type="xs:string" minOccurs="1" />

		</sequence>
	</complexType>

	<complexType name="ruleTestDetailsResponseType">
		<sequence>
			<element name="trackingID" type="xs:string" minOccurs="1" />
			<element name="ruleID" type="xs:string" minOccurs="1" />
			<element name="ruleType" type="xs:string" minOccurs="1" />
			<element name="ruleTitle" type="xs:string" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="createdDate" type="xs:dateTime" minOccurs="1" />
			<element name="finishDate" type="xs:dateTime" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ruleTesterDisgnosticRequestType">
		<sequence>
			<element name="ruleID" type="xs:string" minOccurs="1" />
			<element name="ruleType" type="xs:string" minOccurs="1" />
			<element name="language" type="xs:string" minOccurs="1" />
			<element name="testerID" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="runRecreatorResponseType">
		<sequence>
			<element name="trackingID" type="xs:string" minOccurs="1" />
			<element name="ruleID" type="xs:string" minOccurs="1" />
			<element name="caseID" type="xs:string" minOccurs="1" />
			<element name="ruleTitle" type="xs:string" minOccurs="1" />
			<element name="createdby" type="xs:string" minOccurs="1" />
			<element name="creationTime" type="xs:string" minOccurs="1" />
			<element name="finishTime" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="runReCreateRequestType">
		<sequence>
			<element name="runID" type="xs:string" minOccurs="1" />
			<element name="ruleID" type="xs:string" minOccurs="1" />
			<element name="caseID" type="xs:string" minOccurs="1" />
			<element name="userName" type="xs:string" minOccurs="1" />
			<element name="language" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<!--added by Gaurav on 02/08/2011 Starts -->
	<complexType name="virtualRequestType">
		<sequence>
			<element name="virtualID" type="xs:string" minOccurs="1" />
			<element name="virtualFunction" type="xs:string" minOccurs="1" />
			<element name="displayName" type="xs:string" minOccurs="1" />
			<element name="description" type="xs:string" minOccurs="1" />
			<element name="model" type="xs:string" minOccurs="1" />
			<element name="userName" type="xs:string" minOccurs="1" />
			<element name="language" type="xs:string" minOccurs="1" />
			<element name="family" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="creationDate" type="xs:dateTime" minOccurs="1" />
		</sequence>
	</complexType>


	<complexType name="virtualResponseType">
		<sequence>
			<element name="virtualID" type="xs:string" minOccurs="1" />
			<element name="virtualFunction" type="xs:string" minOccurs="1" />
			<element name="displayName" type="xs:string" minOccurs="1" />
			<element name="description" type="xs:string" minOccurs="1" />
			<element name="model" type="xs:string" minOccurs="1" />
			<element name="family" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="creationDate" type="xs:dateTime" minOccurs="1" />
		</sequence>
	</complexType>
	<!--added by Gaurav on 02/08/2011 ends -->
	<complexType name="ruleSummaryResponseType">
		<sequence>
			<element name="ruleID" type="xs:string" minOccurs="1" />
			<element name="originalID" type="xs:string" minOccurs="1" />
			<element name="ruleTitle" type="xs:string" minOccurs="1" />
			<element name="ruleType" type="xs:string" minOccurs="1" />
			<element name="version" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="activatedBy" type="xs:string" minOccurs="1" />
			<element name="updatedDate" type="xs:dateTime" minOccurs="1" />

		</sequence>
	</complexType>


	<complexType name="finalRuleResponseType">
		<sequence>
			<element name="finalruleID" type="xs:string" minOccurs="1" />
			<element name="originalID" type="xs:string" minOccurs="1" />
			<element name="ruleDescription" type="xs:string" minOccurs="1" />
			<element name="ruleType" type="xs:string" minOccurs="1" />
			<element name="lookback" type="xs:string" minOccurs="1" />
			<element name="family" type="xs:string" minOccurs="1" />
			<element name="ruleTitle" type="xs:string" minOccurs="1" />
			<element name="subSystem" type="xs:string" minOccurs="1" />
			<element name="historyReason" type="xs:string" minOccurs="1" />
			<element name="topLevelRuleID" type="xs:string" minOccurs="1" />
			<element name="simpleRule" type="tns:simpleRule" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="complexRule" type="tns:complexRule" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="clearingLogicRule" type="tns:clearingLogicRule" />
			<element name="ruleDefinitionList" type="tns:ruleDefinition"
				minOccurs="1" maxOccurs="unbounded" />
			<element name="ruleHistory" type="tns:ruleHistory" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="ruleDefinition" type="tns:ruleDefinition"
				minOccurs="1" />
			<element name="completionStatus" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="simpleRule">
		<sequence>
			<element name="name" type="xs:string" minOccurs="1" />
			<element name="faultCode" type="xs:string" minOccurs="1" />
			<element name="subID" type="xs:string" minOccurs="1" />
			<element name="controllerid" type="xs:string" minOccurs="1" />
			<element name="strDataPackElement" type="xs:string"
				minOccurs="1" />
			<element name="simpleruleID" type="xs:string" minOccurs="1" />
			<element name="ruleOnRuleflag" type="xs:string" minOccurs="1" />
			<element name="faultDesc" type="xs:string" minOccurs="1" />
			<element name="simpleRuleClause" type="tns:simpleRuleClause"
				minOccurs="1" maxOccurs="unbounded" />
			<element name="subIDList" type="tns:simpleRule" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="functionList" type="tns:simpleRule" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="pixels" type="xs:string" minOccurs="1" />
			<element name="pixelsMultifaults" type="xs:string" minOccurs="1"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="simpleRuleClause">
		<sequence>
			<element name="clauseID" type="xs:int" minOccurs="1" />
			<element name="colSeqID" type="xs:long" minOccurs="1" />
			<element name="paramName" type="xs:string" minOccurs="1" />
			<element name="columnName" type="xs:string" minOccurs="1" />
			<element name="function" type="xs:string" minOccurs="1" />
			<element name="value1" type="xs:string" minOccurs="1" />
			<element name="value2" type="xs:string" minOccurs="1" />
			<element name="columnType" type="xs:string" minOccurs="1" />
			<element name="anomTechniqueId" type="xs:string" minOccurs="1" />
			<element name="seqVal" type="xs:string" minOccurs="1" />
			<element name="pixels" type="xs:string" minOccurs="1" />
			<element name="columnId" type="xs:string" minOccurs="1" />

		</sequence>
	</complexType>
	<complexType name="complexRule">
		<sequence>
			<element name="csequenceID" type="xs:long" minOccurs="1" />
			<element name="timewindow" type="xs:string" minOccurs="1" />
			<element name="frequency" type="xs:string" minOccurs="1" />
			<element name="function" type="xs:string" minOccurs="1" />
			<element name="rule1" type="xs:string" minOccurs="1" />
			<element name="rule1type" type="xs:string" minOccurs="1" />
			<element name="rule2" type="xs:string" minOccurs="1" />
			<element name="rule2type" type="xs:string" minOccurs="1" />
			<element name="hr" type="xs:string" minOccurs="1" />
			<element name="pt" type="xs:string" minOccurs="1" />
			<element name="timeFlag" type="xs:string" minOccurs="1" />
			<element name="subtime" type="xs:string" minOccurs="1" />
			<element name="subgoal" type="xs:string" minOccurs="1" />
			<element name="min" type="xs:string" minOccurs="1" />
			<element name="bhr" type="xs:boolean" minOccurs="1" />
			<element name="bpt" type="xs:boolean" minOccurs="1" />
			<element name="bmin" type="xs:boolean" minOccurs="1" />
			<element name="sign" type="xs:string" minOccurs="1" />
			<element name="complexRuleID" type="xs:string" minOccurs="1" />
			<element name="complexRuleLink" type="tns:complexRuleLink"
				minOccurs="1" maxOccurs="unbounded" />
			<element name="pixels" type="xs:string" minOccurs="1" />
			<element name="rule1pixels" type="xs:string" minOccurs="1" />
			<element name="rule2pixels" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="complexRuleLink">
		<sequence>
			<element name="simpleRule" type="xs:string" minOccurs="1" />
			<element name="complexRule" type="xs:string" minOccurs="1" />
			<element name="finalRule" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="ruleHistory">
		<sequence>
			<element name="versionNumber" type="xs:string" minOccurs="1" />
			<element name="dateCreated" type="xs:dateTime" minOccurs="1" />
			<element name="createdBY" type="xs:string" minOccurs="1" />
			<element name="revisionHistory" type="xs:string" minOccurs="1" />
			<element name="ruleID" type="xs:string" minOccurs="1" />
			<element name="originalID" type="xs:string" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="createdDate" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="ruleDefinition">
		<sequence>
			<element name="finalRuleID" type="xs:string" minOccurs="1" />
			<element name="ruleDefID" type="xs:string" minOccurs="1" />
			<element name="ruleDefinitionCustomer" type="tns:ruleDefinitionCustomer"
				minOccurs="1" maxOccurs="unbounded" />
			<element name="ruleDefinitionModelList" type="tns:ruleDefinitionModel"
				minOccurs="1" maxOccurs="unbounded" />
			<element name="ruleDefinitionConfig" type="tns:ruleDefinitionConfig"
				minOccurs="1" maxOccurs="unbounded" />
			<element name="ruleDefinitionFleet" type="tns:ruleDefinitionFleet"
				minOccurs="1" maxOccurs="unbounded" />
			<element name="ruleDefinitionModel" type="tns:ruleDefinitionModel"
				minOccurs="1" />
			<element name="message" type="xs:string" minOccurs="1" />
			<element name="ruleType" type="xs:string" minOccurs="1" />
			<element name="recommendation" type="xs:string" minOccurs="1" />
			<element name="serviceType" type="xs:string" minOccurs="1" />
			<element name="includeFlag" type="xs:string" minOccurs="1" />
			<element name="healthFactor" type="xs:string" minOccurs="1" />
			<element name="perfHealthCheckID" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="ruleDefinitionCustomer">
		<sequence>
			<element name="customer" type="xs:string" minOccurs="1" />
			<element name="customerID" type="xs:string" minOccurs="1" />
			<element name="ruleDefFleet" type="xs:anySimpleType"
				minOccurs="1" />
			<element name="fleet" type="xs:string" minOccurs="1" />
			<element name="exclude" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="ruleDefinitionModel">
		<sequence>
			<element name="modelList" type="xs:anySimpleType" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="modelID" type="xs:string" minOccurs="1" />
			<element name="modelName" type="xs:string" minOccurs="1" />
			<element name="ruleDefinitionConfig" type="tns:ruleDefinitionConfig"
				minOccurs="1" maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="ruleDefinitionConfig">
		<sequence>
			<element name="configuration" type="xs:string" minOccurs="1" />
			<element name="function" type="xs:string" minOccurs="1" />
			<element name="value1" type="xs:string" minOccurs="1" />
			<element name="value2" type="xs:string" minOccurs="1" />
			<element name="configurationID" type="xs:string" minOccurs="1" />
			<element name="configurationName" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="ruleDefinitionFleet">
		<sequence>
			<element name="fleet" type="xs:string" minOccurs="1" />
			<element name="fleetNumber" type="xs:string" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="fleetList" type="xs:string" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="exclude" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="ruleFunction">
		<sequence>
			<element name="functionID" type="xs:string" minOccurs="1" />
			<element name="functionName" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="finalRuleRequestType">
		<sequence>
			<element name="finalruleID" type="xs:string" minOccurs="1" />
			<element name="originalID" type="xs:string" minOccurs="1" />
			<element name="ruleDescription" type="xs:string" minOccurs="1" />
			<element name="ruleType" type="xs:string" minOccurs="1" />
			<element name="lookback" type="xs:string" minOccurs="1" />
			<element name="family" type="xs:string" minOccurs="1" />
			<element name="ruleTitle" type="xs:string" minOccurs="1" />
			<element name="userName" type="xs:string" minOccurs="1" />
			<element name="language" type="xs:string" minOccurs="1" />
			<element name="pixels" type="xs:string" minOccurs="1" />

			<element name="userlanguage" type="xs:string" minOccurs="1" />
			<element name="historyReason" type="xs:string" minOccurs="1" />
			<element name="topLevelRuleID" type="xs:string" minOccurs="1" />
			<element name="simpleRule" type="tns:simpleRule" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="complexRule" type="tns:complexRule" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="clearingLogicRule" type="tns:clearingLogicRule"
				minOccurs="1" />
			<element name="ruleDefinitionList" type="tns:ruleDefinition"
				minOccurs="1" maxOccurs="unbounded" />
			<element name="ruleHistory" type="tns:ruleHistory" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="ruleDefinition" type="tns:ruleDefinition"
				minOccurs="1" />
			<element name="completionStatus" type="xs:string" minOccurs="1" />

		</sequence>
	</complexType>
	<complexType name="traceSummaryResponseType">
		<sequence>
			<element name="traceID" type="xs:int" minOccurs="1" />
			<element name="ruleID" type="xs:int" minOccurs="1" />
			<element name="caseID" type="xs:string" minOccurs="1" />
			<element name="title" type="xs:string" minOccurs="1" />
			<element name="createdBY" type="xs:string" minOccurs="1" />
			<element name="creationTime" type="xs:string" minOccurs="1" />
			<element name="finishTime" type="xs:string" minOccurs="1" />
			<element name="status" type="tns:simpleRule" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ruleTrackingResponseType">
		<sequence>
			<element name="trackingSeqId" type="xs:string" minOccurs="1" />
			<element name="faultRuleId" type="xs:string" minOccurs="1" />
			<element name="ruleTitle" type="xs:string" minOccurs="1" />
			<element name="ruleType" type="xs:string" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="creadtionDate" type="xs:dateTime" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
			<element name="status" type="xs:string" minOccurs="1" />
			<element name="bTrackingLink" type="xs:string" minOccurs="1" />
			<element name="bTrackingText" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="ruleResponseType">
		<sequence>
			<element name="ruleSeqId" type="xs:long" minOccurs="1" />
			<element name="versionNo" type="xs:long" minOccurs="1" />
			<element name="active" type="xs:long" minOccurs="1" />
			<element name="searchFinalRuleResponse" type="tns:searchFinalRuleResponse"
				minOccurs="1" />
			<element name="ruleDefResponse" type="tns:ruleDefResponse"
				minOccurs="1" />
			<element name="ruleMetricsResponse" type="tns:ruleMetricsResponse"
				minOccurs="1" />
			<element name="linkFinalRule" type="xs:long" minOccurs="1" />
			<element name="maxVersion" type="xs:long" minOccurs="1" />
			<element name="activatedBy" type="xs:string" minOccurs="1" />
			<element name="activationDate" type="xs:dateTime" minOccurs="1" />
			<element name="previousVersionId" type="xs:long" minOccurs="1" />
			<element name="completed" type="xs:long" minOccurs="1" />
			<element name="originalId" type="xs:long" minOccurs="1" />
			<element name="revHistory" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="creationDate" type="xs:dateTime" minOccurs="1" />
			<element name="rulelist" type="xs:string" minOccurs="1"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>
	<complexType name="searchFinalRuleResponse">
		<sequence>
			<element name="finalRuleSeqID" type="xs:long" minOccurs="1" />
			<element name="searchComplexRule" type="tns:searchComplexRule"
				minOccurs="1" />
			<element name="searchSimpleRule" type="tns:searchSimpleRule"
				minOccurs="1" />
			<element name="family" type="xs:string" minOccurs="1" />
			<element name="subsystem" type="xs:string" minOccurs="1" />
			<element name="lookback" type="xs:long" minOccurs="1" />
			<element name="ruleDescription" type="xs:string" minOccurs="1" />
			<element name="ruleTitle" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
			<element name="creationDate" type="xs:dateTime" minOccurs="1" />
			<element name="version" type="xs:long" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="ruleDefResponse">
		<sequence>
			<element name="kmDpdRuledefSeqId" type="xs:long" minOccurs="1" />
			<element name="message" type="xs:string" minOccurs="1" />
			<element name="linkFinalRule" type="xs:long" minOccurs="1" />
			<element name="ruleType" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
			<element name="creationDate" type="xs:dateTime" minOccurs="1" />
			<element name="linkOriginalRecom" type="xs:long" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="ruleMetricsResponse">
		<sequence>
			<element name="getKmDpdRuleMetricsSeqId" type="xs:long"
				minOccurs="1" />
			<element name="linkFinalRule" type="xs:long" minOccurs="1" />
			<element name="firedRules" type="xs:string" minOccurs="1" />
			<element name="successRules" type="xs:string" minOccurs="1" />
			<element name="accuratePercent" type="xs:string" minOccurs="1" />
			<element name="missRules" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
			<element name="creationDate" type="xs:dateTime" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="searchComplexRule">
		<sequence>
			<element name="complexRuleSeqID" type="xs:long" minOccurs="1" />
			<element name="timeWindow" type="xs:long" minOccurs="1" />
			<element name="frequency" type="xs:long" minOccurs="1" />
			<element name="complexFunction" type="xs:string" minOccurs="1" />
			<element name="version" type="xs:int" minOccurs="1" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
			<element name="creationDate" type="xs:dateTime" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="searchSimpleRule">
		<sequence>
			<element name="simpleRuleSeqID" type="xs:long" minOccurs="1" />
			<element name="fault" type="xs:long" minOccurs="1" />
			<element name="subID" type="xs:long" minOccurs="1" />
			<element name="version" type="xs:int" minOccurs="1" />
			<element name="linkFinrul" type="xs:long" minOccurs="1" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
			<element name="creationDate" type="xs:dateTime" minOccurs="1" />
		</sequence>
	</complexType>
	<complexType name="ruleRequestType">
		<sequence>
			<element name="ruleSeqId" type="xs:long" minOccurs="1" />
			<element name="versionNo" type="xs:long" minOccurs="1" />
			<element name="active" type="xs:long" minOccurs="1" />
			<element name="isactive" type="xs:string" minOccurs="1" />
			<element name="language" type="xs:string" minOccurs="1" />
			<element name="username" type="xs:string" minOccurs="1" />
			<element name="ruleID" type="xs:string" minOccurs="1" />
			<element name="linkFinalRule" type="xs:long" minOccurs="1" />
			<element name="maxVersion" type="xs:long" minOccurs="1" />
			<element name="activatedBy" type="xs:string" minOccurs="1" />
			<element name="activationDate" type="xs:dateTime" minOccurs="1" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="creationDate" type="xs:dateTime" minOccurs="1" />
			<element name="rulelist" type="xs:string" minOccurs="1"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="finalVirtualRequestType">
		<sequence>
			<element name="finalVirtualId" type="xs:string" minOccurs="1" />
			<element name="virtualName" type="xs:string" minOccurs="1" />
			<element name="virtualDesc" type="xs:string" minOccurs="1" />
			<element name="family" type="xs:string" minOccurs="1" />
			<element name="active" type="xs:string" minOccurs="1" />
			<element name="virtualType" type="xs:string" minOccurs="1" />
			<element name="virtualEquation" type="tns:virtualEquation"
				maxOccurs="unbounded" />
			<element name="virtualDefinition" type="tns:virtualDefinition"
				maxOccurs="unbounded" />
			<element name="virtualFilter" type="tns:virtualFilter"
				maxOccurs="unbounded" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="creationDate" type="xs:dateTime" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="finalVirtualResponseType">
		<sequence>
			<element name="finalVirtualId" type="xs:string" minOccurs="1" />
			<element name="virtualName" type="xs:string" minOccurs="1" />
			<element name="virtualDesc" type="xs:string" minOccurs="1" />
			<element name="family" type="xs:string" minOccurs="1" />
			<element name="active" type="xs:string" minOccurs="1" />
			<element name="virtualType" type="xs:string" minOccurs="1" />
			<element name="virtualEquation" type="tns:virtualEquation"
				maxOccurs="unbounded" />
			<element name="virtualDefinition" type="tns:virtualDefinition"
				maxOccurs="unbounded" />
			<element name="virtualFilter" type="tns:virtualFilter"
				maxOccurs="unbounded" />
			<element name="lastUpdatedBy" type="xs:string" minOccurs="1" />
			<element name="lastUpdatedDate" type="xs:dateTime" minOccurs="1" />
			<element name="createdBy" type="xs:string" minOccurs="1" />
			<element name="creationDate" type="xs:dateTime" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="virtualEquation">
		<sequence>
			<element name="equationId" type="xs:string" minOccurs="1" />
			<element name="equation" type="xs:string" minOccurs="1" />
			<element name="customFileName" type="xs:string" minOccurs="1" />
			<element name="lookBackTime" type="xs:string" minOccurs="1" />
			<element name="lookBackPoints" type="xs:string" minOccurs="1" />
			<element name="active" type="xs:string" minOccurs="1" />
			<element name="virtualType" type="xs:string" minOccurs="1" />
			<element name="customParameter" type="xs:string" maxOccurs="unbounded" />
			<element name="equationJsonTxt" type="xs:string" minOccurs="1" />
			<element name="equationText" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="virtualDefinition">
		<sequence>
			<element name="masterVirtualId" type="xs:string" minOccurs="1" />
			<element name="virtualDefID" type="xs:string" minOccurs="1" />
			<element name="virtualDefCustomer" type="tns:virtualDefCustomer"
				maxOccurs="unbounded" />
			<element name="model" type="xs:string" maxOccurs="unbounded" />
			<element name="virtualDefConfig" type="tns:virtualDefConfig"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="virtualDefCustomer">
		<sequence>
			<element name="customer" type="xs:string" minOccurs="1" />
			<element name="customerID" type="xs:string" minOccurs="1" />
			<element name="isExclude" type="xs:string" minOccurs="1" />
			<element name="virtualDefFleet" type="tns:virtualDefFleet"
				maxOccurs="unbounded" />
		</sequence>
	</complexType>

	<complexType name="virtualDefFleet">
		<sequence>
			<element name="fleet" type="xs:string" minOccurs="1" />
			<element name="isExclude" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="virtualDefConfig">
		<sequence>
			<element name="configuration" type="xs:string" minOccurs="1" />
			<element name="function" type="xs:string" minOccurs="1" />
			<element name="value1" type="xs:string" minOccurs="1" />
			<element name="value2" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="virtualFilter">
		<sequence>
			<element name="filterSeqId" type="xs:string" minOccurs="1" />
			<element name="parameter" type="xs:string" minOccurs="1" />
			<element name="function" type="xs:string" minOccurs="1" />
			<element name="value1" type="xs:string" minOccurs="1" />
			<element name="value2" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<complexType name="clearingLogicRule">
		<sequence>
			<element name="clearingLogicRuleID" type="xs:string"
				minOccurs="1" />
			<element name="complexRule" type="tns:complexRule" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="simpleRule" type="tns:simpleRule" minOccurs="1"
				maxOccurs="unbounded" />
			<element name="topLevelRuleID" type="xs:string" minOccurs="1" />
			<element name="pixels" type="xs:string" minOccurs="1" />
		</sequence>
	</complexType>

	<element name="ruleTesterRequest" type="tns:ruleTesterRequestType" />
	<element name="manualRunResponse" type="tns:manualRunResponseType" />
	<element name="traceSummaryResponse" type="tns:traceSummaryResponseType" />
	<element name="manualRunDisgnosticRequest" type="tns:manualRunDisgnosticRequestType" />
	<!-- <element name="faultDataDetailsResponse" type="tns:faultDataDetailsResponseType" 
		/> <element name="faultDataResponse" type="tns:faultDataResponseType" /> -->
	<element name="tracerRequest" type="tns:tracerRequestType" />
	<element name="ruleTestDetailsResponse" type="tns:ruleTestDetailsResponseType" />
	<element name="ruleTesterDisgnosticRequest" type="tns:ruleTesterDisgnosticRequestType" />
	<element name="runRecreatorResponse" type="tns:runRecreatorResponseType" />
	<element name="runReCreateRequest" type="tns:runReCreateRequestType" />
	<element name="virtualRequest" type="tns:virtualRequestType" />
	<element name="virtualResponse" type="tns:virtualRequestType" />
	<element name="ruleSummaryResponse" type="tns:ruleSummaryResponseType" />
	<element name="finalRuleResponse" type="tns:finalRuleResponseType" />
	<element name="simpleRule" type="tns:simpleRule" />
	<element name="simpleRuleClause" type="tns:simpleRuleClause" />
	<element name="complexRule" type="tns:complexRule" />
	<element name="ruleHistory" type="tns:ruleHistory" />
	<element name="complexRuleLink" type="tns:complexRuleLink" />
	<element name="ruleDefinitionResponse" type="tns:ruleDefinition" />
	<element name="ruleDefinitionCustomer" type="tns:ruleDefinitionCustomer" />
	<element name="ruleDefinitionModel" type="tns:ruleDefinitionModel" />
	<element name="ruleDefinitionFleet" type="tns:ruleDefinitionFleet" />
	<element name="ruleDefinition" type="tns:ruleDefinition" />
	<element name="ruleTrackingResponseType" type="tns:ruleTrackingResponseType" />
	<element name="ruleResponseType" type="tns:ruleResponseType" />
	<element name="searchFinalRuleResponse" type="tns:searchFinalRuleResponse" />
	<element name="searchComplexRule" type="tns:searchComplexRule" />
	<element name="finalRuleRequestType" type="tns:finalRuleRequestType" />
	<element name="clearingLogicRule" type="tns:clearingLogicRule" />
</schema>