RMDJAXBModel/src/main/resources/turnover.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://omd/omdservices/turnoverservice"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://omd/omdservices/turnoverservice"
	elementFormDefault="qualified" attributeFormDefault="unqualified">

	<complexType name="turnoverInboundResponseType">
		<sequence>
			<element name="caseId" type="xs:string" />
			<element name="roadNumberHeader" type="xs:string" />
			<element name="roadNumber" type="xs:string" />
			<element name="gpocComments" type="xs:string" />
		</sequence>
	</complexType>
</schema>